header {
    width: 100%;
        img {
            margin-bottom: 10px;
            width: 200px;
            height: 200px;
            border: 0;
        }
        .botonera {
            background-color: bisque;
            border: 1px solid black;
            height: 150px;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            .logo {
                text-decoration: none;
            }
            .enlace {
            ul {
                padding: 10px;
                list-style-type: 0;
            }
                li {
                    display: inline;
                }
                   a {
                        display: inline-block;
                        text-decoration: none;
                        color: black;
                        border: 1px solid;
                        font-size: large;
                        box-shadow: 3px 3px 4px rgba(0,0,0,0.5), -3px -3px 4px rgba(0,0,0,0.5);
                        margin-top: 15px;
                        margin-right: 10px;
                    }   
                         }                                                               
                             }
                                }

               



