@media (min-width: 350px) and (max-width: 450px){
    header{
        .botonera{
            height: auto;
            }
        }
    .principal4{
        height: auto;
    }
    .contacto{
        font-size: small;
        margin-left: 50px;
    }
}